.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector {
    cursor: pointer;
}

.poderosa-theme {
    background: #BD9E55;
}

.poderosa-dark-theme {
    background: #263238;
    /* Old browsers */
    background: -moz-linear-gradient(left, #263238 0%, #BD9E55 23%, #BD9E55 23%, #BD9E55 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #263238 0%, #263238 23%, #00c292 23%, #BD9E55 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#263238), color-stop(23%, #263238), color-stop(23%, #BD9E55), color-stop(99%, #BD9E55));
    background: -webkit-linear-gradient(left, #263238 0%, #263238 23%, #BD9E55 23%, #BD9E55 99%);
    background: -o-linear-gradient(left, #263238 0%, #263238 23%, #BD9E55 23%, #BD9E55 99%);
    background: linear-gradient(to right, #263238 0%, #263238 23%, #BD9E55 23%, #BD9E55 99%); }

.logo-center {
    display: flex !important;
    justify-content: center !important;
}

.span-logo {
    width: 100%;
}
.navbar-brand {
    width: 100%;
}